# Ignorar arquivos e pastas do back-end
/server/node_modules/
/server/build/

# Ignorar arquivos e pastas do front-end
/app/node_modules/
/app/build/
/app/dist/

# Arquivos de lock do npm/yarn
/app/package-lock.json
/server/package-lock.json

# next.js
/app/.next/
/app/out/
/server/.next/
/server/out/

# Arquivos de teste
/app/coverage/
/server/coverage/

# Arquivos de logs
/app/logs/
/server/logs/

# Arquivos de Variáveis de ambiente
/app/.env
/server/.env

# vercel
/app/.vercel

# typescript
/app/*.tsbuildinfo
/app/next-env.d.ts